sh0{
    color: black;
    font-size: 55px;
    position: absolute;
    right: 29%;
    top: 1%;
}

xh0{
    color: black;
    font-size: 25px;
    position: absolute;
    left: 25%;
    top: 19%;
}

#glavnaya {
    position: absolute;
    right: 20%;
    top: 10%;
}

sh1{
    color: black;
    font-size: 55px;
    position: absolute;
    right: 29%;
    top: 80%;
}

xh1{
    color: black;
    font-size: 25px;
    position: absolute;
    right: 29%;
    top: 95%;
}

#first {
    position: absolute;
    left: 25%;
    top: 90%;
}